@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.navfont {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

header .top-nav {
  background: rgb(17, 171, 114);
  background: linear-gradient(113deg, rgb(17, 171, 114) 48%, rgb(24, 120, 92) 30%);
}
header .top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 120px;
}
header .top-nav ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px;
}
header .top-nav ul li > div {
  height: 20px;
  width: 1px;
  background-color: white;
}
header .top-nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
}
header .full-nav {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  background: rgb(24, 120, 92);
  background: linear-gradient(123deg, #18785c 44%, #11ab72 30%);
}
header .full-nav > nav.main-nav {
  height: 100px;
  width: 100%;
  background-color: #205445;
}
header .full-nav > nav.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .full-nav > nav.main-nav ul > li {
  list-style-type: none;
  position: relative;
}
header .full-nav > nav.main-nav ul > li > a {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
}
header .full-nav > nav.main-nav ul > li .dropdown1 {
  display: none;
  position: absolute;
  top: 40px;
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  z-index: 1;
  background-color: rgb(64, 72, 79);
  padding: 0%;
}
header .full-nav > nav.main-nav ul > li .dropdown1 > li {
  list-style-type: none;
  border-bottom: 1px dotted rgb(216, 215, 236);
  padding: 10px 0px;
}
header .full-nav > nav.main-nav ul > li .dropdown1 > li a {
  text-decoration: none;
  color: white;
}
header .full-nav > nav.main-nav ul > li .dropdown1 > li a:hover {
  background-color: white;
  color: #318b72;
}
header .full-nav > nav.main-nav ul > li .dropdown2 {
  display: none;
  position: absolute;
  top: 40px;
  width: 160px;
  font-size: 16px;
  font-weight: 400;
  z-index: 1;
  background-color: rgb(64, 72, 79);
  padding: 0%;
}
header .full-nav > nav.main-nav ul > li .dropdown2 > li {
  list-style-type: none;
  border-bottom: 1px dotted rgb(216, 215, 236);
  padding: 10px 0px;
}
header .full-nav > nav.main-nav ul > li .dropdown2 > li a {
  text-decoration: none;
  color: white;
}
header .full-nav > nav.main-nav ul > li .dropdown2 > li a:hover {
  background-color: white;
  color: #318b72;
}
header .full-nav > nav.main-nav .drop-list1:hover .dropdown1 {
  display: block;
}
header .full-nav > nav.main-nav .drop-list2:hover .dropdown2 {
  display: block;
}
header .full-nav > nav.main-nav ul > li > a:hover {
  background-color: rgb(233, 237, 241);
  color: #318b72;
}
header .full-nav > nav.main-nav ul > li:nth-child(5) > a:hover {
  background-color: transparent;
}

section.banner a > img {
  height: 100vh;
  width: 100%;
}

section.points-table {
  margin-top: 20px;
  text-align: center;
}
section.points-table > h2 {
  margin-bottom: 20px;
  color: #318b72;
  font-size: 26px;
  font-weight: 450;
}
section.points-table .table-div {
  width: 80%;
  margin: auto;
}
section.points-table .table-div table {
  border-collapse: collapse;
  border: 1px solid rgb(211, 211, 211);
}
section.points-table .table-div table th, section.points-table .table-div table td {
  border: 1px solid rgb(211, 211, 211);
  padding: 15px 10px;
  text-align: left;
  font-size: 15px;
}
section.points-table .table-div table td {
  font-size: 15px;
  font-weight: 400;
}

section.teams-logo {
  margin: 20px 0px;
}
section.teams-logo > h1 {
  text-align: center;
  color: #318b72;
  font-size: 26px;
  font-weight: 450;
}
section.teams-logo > div {
  width: 86%;
  margin-left: 120px;
}
section.teams-logo > div > a {
  padding: 5px 5px;
}
section.teams-logo > div > a img {
  width: 170px;
}

section.score-view {
  margin: 20px 0px;
}
section.score-view > h1 {
  text-align: center;
  color: #318b72;
  font-size: 26px;
  font-weight: 450;
}
section.score-view > div.green-bar {
  width: 82%;
  height: 140px;
  margin: auto;
  margin-top: 20px;
  background: rgb(17, 171, 114);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(46%, rgb(17, 171, 114)), color-stop(80%, rgb(36, 102, 83)));
  background: linear-gradient(180deg, rgb(17, 171, 114) 46%, rgb(36, 102, 83) 80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
section.score-view > div.green-bar > div {
  height: 100%;
  width: 20%;
  text-align: center;
}
section.score-view > div.green-bar > div > h1 {
  font-size: 4rem;
  color: white;
}
section.score-view > div.green-bar > div > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

section.video > iframe {
  margin-left: 120px;
  height: 90vh;
  width: 82%;
}

section.latest-info {
  margin-top: 20px 0px;
}
section.latest-info > h1 {
  text-align: center;
  color: #318b72;
  font-size: 26px;
  font-weight: 450;
}
section.latest-info > div.box {
  width: 82vw;
  height: 519px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.latest-info > div.box > div {
  height: 259px;
  width: 371px;
  position: relative;
  overflow: hidden;
}
section.latest-info > div.box > div > img {
  height: 259px;
  width: 371px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.latest-info > div.box > div > .text-div {
  height: 259px;
  width: 371px;
  position: absolute;
  top: 0px;
  text-align: center;
  padding-top: 90px;
  color: white;
  background-color: #318b72;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
section.latest-info > div.box > div:hover .text-div {
  opacity: 1;
}

section.sponsors-bar {
  margin-top: 20px;
}
section.sponsors-bar > h1 {
  text-align: center;
  color: #318b72;
  font-size: 26px;
  font-weight: 450;
}
section.sponsors-bar div {
  margin-left: 100px;
}
section.sponsors-bar div > img {
  height: 200px;
  width: 91%;
}

section.quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
section.quick-links .link {
  width: 500px;
}
section.quick-links .link h1 {
  font-weight: 400;
  margin-left: 100px;
}
section.quick-links .link > div.line {
  height: 2px;
  width: 50px;
  background-color: black;
  margin-left: 100px;
}
section.quick-links .link > div.main {
  margin: 10px 98px;
  padding: 5px 0px;
  font-weight: 300;
  font-size: 16px;
}
section.quick-links .link > div.main > span {
  border: 1px solid black;
  margin: 0 10px;
  padding: 3px 7px;
  -webkit-box-shadow: -1px 6px 12px -1px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 6px 12px -1px rgba(0, 0, 0, 0.75);
}
section.quick-links .link > div.icon {
  height: 50px;
  width: 160px;
  margin: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #318b72;
  margin-top: 40px;
}
footer p {
  color: white;
  margin: 0px 100px;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  body .top-nav > ul {
    margin-left: 10px;
  }
  body nav.main-nav > ul > li {
    display: none;
  }
  body nav.main-nav > ul > li.logo {
    display: block;
    text-align: center;
  }
  body section.banner > a > img {
    width: 100%;
  }
  body section.points-table > .table-div {
    margin-left: auto;
  }
  body section.points-table > .table-div table {
    width: 350px;
    border-collapse: collapse;
    border: 1px solid rgb(211, 211, 211);
  }
  body section.points-table > .table-div table th, body section.points-table > .table-div table td {
    border: 1px solid rgb(211, 211, 211);
    padding: 0px 0px;
    text-align: left;
    font-size: 9px;
  }
  body section.points-table > .table-div table td {
    font-size: 9px;
    font-weight: 200;
  }
  body section.teams-logo > div {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body section.teams-logo > div img {
    width: 250px;
  }
  body section.score-view > div.green-bar {
    height: auto;
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body section.video > iframe {
    height: 250px;
    width: 95%;
    margin-left: 10px;
  }
  body section.latest-info > .box {
    height: auto;
  }
  body section.sponsors-bar > div {
    margin-left: 30px;
  }
  body section.sponsors-bar > div img {
    width: 90%;
  }
  body section.quick-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section.quick-links .md-div {
    margin: auto;
  }
}