@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
$fcolor:#318b72;
$bg:#318b72;
$H-fs:26px;
$fw4:450;
$tfw:400;
.navfont{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  }
  //start
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}


header{
    .top-nav{
        background: rgb(17,171,114);
        background: linear-gradient(113deg, rgba(17,171,114,1) 48%, rgba(24,120,92,1) 30%);
                 ul{
                     display:flex;
                     justify-content: flex-end;
                     margin-right:120px;
                                 li{
                                     list-style-type: none;
                                     display:flex;
                                     align-items: center;
                                     padding: 0px 5px;  
                     // div is line before icons
                                             &>div{
                                                 height:20px;
                                                 width:1px;
                                                 background-color:white;
                                             }
                                                     a{
                                                         text-decoration: none;
                                                         color: white;
                                                         padding: 10px 10px;
                                                     }
                                 }
                     }
          }
    .full-nav{
        height: 200px;
        width:100%;
        margin-bottom:20px;
        background:  rgb(24,120,92);
        background: linear-gradient(123deg, #18785c 44%, #11ab72 30%);
        //navbar main
        &>nav.main-nav{
                  height: 100px;
                  width:100%;
                  background-color:#205445;
         ul{
             display: flex;
             justify-content:center;
             align-items: center;
               &>li{
                    list-style-type: none;
                    position: relative;
        //all link tags
                    &>a{
                        text-decoration: none;
                        color:white;
                        padding:10px 25px ;
                      }
                    //dropdown1
                    .dropdown1{
                      display: none;
                      position: absolute;
                      top:40px;
                      width: 150px;
                      font-size: 16px;
                      font-weight: 400; 
                      z-index: 1;
                      background-color: rgb(64, 72, 79);  
                      padding: 0%;
                            &>li {
                                list-style-type: none;
                                border-bottom: 1px dotted rgb(216, 215, 236);
                                padding:10px 0px;
                                    a{
                                        text-decoration: none;
                                        color: white; 
                                        &:hover{
                                            background-color: white;
                                            color:$fcolor;
                                        }
                                        } 
                                }
                            }           
 //dropdown2 
                        .dropdown2{
                            display: none;
                            position: absolute;
                            top:40px;
                            width: 160px;
                            font-size: 16px;
                            font-weight: 400; 
                            z-index: 1;
                            background-color: rgb(64, 72, 79);  
                            padding: 0%;
                                    &>li {
                                        list-style-type: none;
                                        border-bottom: 1px dotted rgb(216, 215, 236);
                                        padding:10px 0px;
                                                a{
                                                text-decoration: none;
                                                color: white; 
                                                &:hover{
                                                    background-color: white;
                                                    color:$fcolor;
                                                }
                                                } 
                                        }
                                      }  
                   }
                  
                   }
// all hovers
.drop-list1:hover .dropdown1{
                              display: block;           
                          }
.drop-list2:hover .dropdown2{
                             display: block; 
                            }
ul>li>a:hover{
    background-color: rgb(233, 237, 241);
    color:$fcolor;
}

//img background on hover
 ul > li:nth-child(5) > a:hover {
                                   background-color: transparent;
                               }

                      }
            }
       }
    
//banner part
section.banner{  
    a{
        &>img{
            height: 100vh;
            width:100%;
        }
    }
   
}
section.points-table{
                     margin-top: 20px;
                     text-align: center;
                     &>h2{
                        margin-bottom: 20px;
                        color:$fcolor;
                        font-size: $H-fs;
                        font-weight:$fw4;
                     }
                     .table-div{
                        width: 80%;
                        margin:auto;
                      table{
                         border-collapse: collapse;
                         border: 1px solid rgb(211, 211, 211); 
                         th, td {
                             border: 1px solid rgb(211, 211, 211); 
                             padding: 15px 10px;
                             text-align: left;
                             font-size: 15px;
                         }
                         td{ 
                             font-size: 15px;
                             font-weight:400;
                         }
                     }
                    }
}
//section that have teams logo
section.teams-logo{
                  margin: 20px 0px;
          &>h1{ 
                    text-align: center;
                    color:$fcolor;
                     font-size: $H-fs;
                     font-weight:$fw4;
            }
                  
                            &>div{
                              
                                width:86%;
                                margin-left: 120px;
                                        &>a{
                                            padding: 5px 5px;
                                                    img{
                                                        width:170px;
                                                    }
                                            }
                                    }

}
//section that has score bar
section.score-view{
    margin: 20px 0px;
    //heading styling
    &>h1{
        text-align: center;
        color:$fcolor;
        font-size: $H-fs;
        font-weight:$fw4;
    }
                     
                        
   //green div
                        &>div.green-bar{
                            width:82%;
                            height: 140px;
                            margin: auto;
                            margin-top: 20px;
                            background: rgb(17,171,114);
                            background: linear-gradient(180deg, rgba(17,171,114,1) 46%, rgba(36,102,83,1) 80%);
                            display:flex;
                            justify-content: space-evenly;
    //score div
                                        &>div{
                                                height: 100%;
                                                width:20%;
                                                text-align: center;
  //integers
                                                            &>h1{
                                                                    font-size:4rem;
                                                                    color: white;
                                                            }
//text
                                                            &>h2{
                                                                font-size:1.5rem;
                                                                font-weight:400;
                                                                color: white;
                                                                
                                                            }
                                            }      
                        }
}
//section that has video
section.video{
           
              &>iframe{
                    margin-left:120px;
                    height:90vh;
                    width:82%;
              }
}
//section that has latest information and pictures
section.latest-info{
    margin-top: 20px 0px;
&>h1{
    text-align: center;
    color:$fcolor;
    font-size: $H-fs;
    font-weight:$fw4;
}
   
    
//main div 
    &>div.box{
       
              width:82vw;
              height: 519px;
              margin: auto;
              margin-top: 20px;
              display: flex;
              flex-wrap:wrap;
//sub div that has image
                    &>div{
                            height:259px;
                            width:371px;
                            position: relative;
                            overflow: hidden; 
                                &>img{
                                    height:259px;
                                    width:371px;
                                    object-fit: cover;
                                    }
// div that show on hover
                            &>.text-div{
                                                height:259px;
                                                width:371px;
                                                position: absolute;
                                                top:0px;
                                                text-align: center;
                                                padding-top: 90px;
                                                color:white;
                                                background-color: $bg;
                                                opacity: 0;
                                                transition-property: opacity;
                                                transition-duration: 0.4s;
                                                transition-timing-function: linear;   
                                        }    
                &:hover .text-div{
                                  opacity: 1;
                                  }
                   }
      }
}

//section which has sponsers bar
section.sponsors-bar{
    margin-top: 20px;
&>h1{
        text-align: center;
        color:$fcolor;
        font-size: $H-fs;
        font-weight:$fw4;
}
div{
    margin-left:100px;
&>img{
    height: 200px;
    width:91%;
   
 }
}
}
section.quick-links{
          display: flex;
          margin-top: 40px;
                        .link{
                            width:500px;
                            h1{
                                font-weight: 400;
                                margin-left:100px;
                            }
                            &>div.line{
                                height:2px;
                                width:50px;
                                background-color: black;
                                margin-left:100px;
                            }
                        &>div.main{
                                margin: 10px 98px;
                                padding: 5px 0px;
                                font-weight: 300;
                                font-size:16px;
                                &>span{
                                    border: 1px solid black;
                                    margin: 0 10px;
                                    padding:3px 7px;
                                    box-shadow: -1px 6px 12px -1px rgba(0,0,0,0.75);
                                }
                        }
                        &>div.icon{
                                    height:50px;
                                    width:160px;
                                    margin: 20px 100px;
                                    display: flex;
                                    justify-content: space-between;
                        }
                        
                            }
                      }
footer{
    height: 70px;
    width: 100%;
    background-color:$bg;
    margin-top: 40px;
    p{
        color: white;
        margin: 0px 100px;
    }
}


@media screen and (max-width: 600px){
    body{
        overflow-x: hidden;
  
    .top-nav{
           &>ul{margin-left: 10px;}
   }   
 nav.main-nav>ul>li{
                         display: none;
                      }
 nav.main-nav>ul>li.logo{
                       display: block;
                       text-align: center;
                    }
 section.banner>a>img{
                        width:100%;
                    }

 section.points-table>.table-div{
                       margin-left: auto;
                        table{
                          width:350px;
                          border-collapse: collapse;
                          border: 1px solid rgb(211, 211, 211); 
                          th, td {
                              border: 1px solid rgb(211, 211, 211); 
                              padding: 0px 0px;
                              text-align: left;
                              font-size: 9px;
                          }
                          td{ 
                              font-size: 9px;
                              font-weight:200;
                          }
                      }
                    
                                }

 section.teams-logo>div{
                                    width:300px;
                                     display: flex;
                                     flex-direction: column;
                                     align-items: center;
                                  img{
                                      width:250px;
                                  }
                           }    
 section.score-view>div.green-bar{
                            height:auto;
                            width:95%;
                             flex-direction: column;
                             align-items: center;
                               } 
section.video>iframe{
                                height:250px;
                                width:95%;
                                margin-left:10px;
                  }  
 section.latest-info>.box{
                    height: auto;
                 }  
 section.sponsors-bar>div{
                 margin-left: 30px;
                
                        img{
                            width:90%;
                        }
 }                      
 section.quick-links{
                    display: flex;
                    flex-direction: column;
                    .md-div{
                        margin: auto;
                    }
                }           
   }           
}


